<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Laboratorium Komputer</title>
  <link href="/public/css/business-casual.min.css" rel="stylesheet">
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

</head>

<body>

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.bundle.min.js"></script>

  <% include extensions/hello %>
  <% include extensions/navbar/navbar_home %>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/public/img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Laboratorium Komputer</span>
            <span class="section-heading-lower">SMK Telkom Malang</span>
          </h2>
          <p class="mb-3">Aplikasi web ini memudahkan seluruh warga SMK Telkom Malang untuk memesan laboratorium
            komputer Moklet.</p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="/pesan">Pesan yuk!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Motivasi</span>
              <span class="section-heading-lower">Pembuatan Web</span>
            </h2>
            <p class="mb-0">Setiap warga SMK Telkom Malang, jika ingin meminjam laboratorium komputer, harus
              mundar-mandir pergi ke ruang Sarpra untuk mengurus surat peminjaman lab, tetapi semua itu tidak akan
              dilakukan lagi karena jika ada aplikasi ini, tinggal masukin form pinjam aja, tunggu persetujuan admin
              Sarpra, udah deh! Tinggal ambil kunci dan Welcome boii!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% include extensions/footer %>

</body>

</html>