<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Laboratorium Komputer</title>

  <link href="/public/css/business-casual.min.css" rel="stylesheet">
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

</head>

<body>

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.bundle.min.js"></script>

  <% include extensions/hello %>
  <% include extensions/navbar/navbar_profil %>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">"Membuat pesan lab jadi ez"</span>
                <span class="section-heading-lower">Profil Aplikasi</span>
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat repudiandae, inventore est quasi esse
                perferendis tenetur consectetur dolore accusantium autem hic nobis magnam quaerat ipsa incidunt ab
                excepturi vitae eligendi.</p>
              <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae voluptatum quaerat non
                alias tempora unde. Magnam magni error cupiditate, atque id blanditiis iure optio nobis, eveniet, odio
                amet culpa minus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% include extensions/footer %>

</body>

</html>